:root {
     --primaryColor: rgb(255, 255, 255);
     --secondaryColor: rgb(255, 255, 255);
     /*
     --thirdColor: ;
     --warningColor: ;
     --errorColor: ; */
     --successColor: rgb(41, 84, 201);
     --successColorHover: rgb(24, 55, 138); 

     --titleFont: Verdana, Arial, sans-serif;
     --inputFont: 'Consolas', monospace;
     --labelFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     --titleShadow: 2px 2px 1px rgba(0, 0, 0, 0.977);
     --textShadow: 1px 1px 1px rgba(0, 0, 0, 0.977);
     --boxShadow: 2px 2px 6px rgba(0, 0, 0, 0.66);
     --buttonShadow: 1px 2px 3px rgba(0, 0, 0, 0.66);
}